<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>童老师ThinkPHP交流群：484519446</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="童老师ThinkPHP交流群：484519446" />
<meta name="description" content="童老师ThinkPHP交流群：484519446" /> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet" />
<!-- <link href="http://www.topthink.com/Public/static/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
 -->
 <script type='text/javascript' src='__PUBLIC__/images/js/ismobile.js'></script>
</head>

<body>

{include file="common/header" /}
<!--顶部通栏-->

<div class="position">搜索：<span style="color:#f00;font-weight: bold;">{$keywords}</span></div>


<div class="overall">

	<div class="left">

		{volist name="searchres" id="value"}
		<div class="xnews2">
			<div class="pic">
				<a target="_blank" href="{:url('article/index',array('arid'=>$value.id))}">
					<img src="{if condition="$value['pic'] neq '' "}__IMG__{$value.pic} {else /}__PUBLIC__/images/error.png{/if} " alt="{$value.title}"/>
				</a>
			</div>
			<div class="dec">
				<h3><a target="_blank" href="{:url('article/index',array('arid'=>$value.id))}">{$value.title}</a></h3>
				<div class="time">发布时间：{$value.time|date="Y-m-d",###}</div>
				<p>{$value.desc}</p>
				<div class="time">
					<?php 
						$arr=explode(',',$value['keywords']);
						foreach($arr as $k => $v){
							echo "<a href='http://127.0.0.1:81/personalBlog/public/index.php/index/search/index?keywords=$v'>$v</a>";
						}
					?>
				</div>
			</div>
		</div>
		{/volist}

		<div class="pages">
			<div class="plist" >
				{$searchres->render()}
			</div>
		</div>
	</div>
	
	<!--右侧各种广告-->
	<!--猜你喜欢-->
	{include file="common/right" /}
	
</div>
{include file="common/footer" /}

</body>
</html>