<div class="ladytop">
            <div class="nav">
                <div class="left"><a href=""><img src="__PUBLIC__/images/hunshang.png" alt="wed114婚尚"></a></div>
                <div class="right">
                <div class="box">
                 <a href="hunjia/"  rel='dropmenu209'>婚嫁</a> <a href="meirong/"  rel='dropmenu110'>美容</a> <a href="fushi/"  rel='dropmenu112'>服饰</a> <a href="yule/"  rel='dropmenu118'>娱乐</a> <a href="jiankang/"  rel='dropmenu120'>健康</a> <a href="meishi/"  rel='dropmenu122'>美食</a> <a href=""  rel='dropmenu117'>生活</a> <a href="tuku/"  rel='dropmenu103'>图库</a> <a href="zhuanti/" >专题</a> 
                 </div>
                </div>
            </div>
        </div>

<div class="hotmenu">
	<div class="con">热门标签：<a href='qiwenqushi/'>奇闻趣事</a> <a href=''>生活妙招</a> <a href='xingzuo/'>星座</a> <a href='qinzi/'>亲子</a> <a href='qiche/'>汽车</a> <a href='chongwubaike/'>宠物百科</a> <a href='jiaji/'>家居</a> </div>
</div>

<!--顶部通栏-->